extends layout
block content
	h1 Express Skeleton Application
	p In order to illustrate the architecture this page is the result of calling a service model that returns a list of random numbers.
	for result in results
		div #{result}
		
		
						